:root {
    --navy: #213555;
    --blue: #3E5879;
    --beige: #D8C4B6;
    --vintage: #F5EFE7;
    --black: #000000;
    --white: #F5EFE7;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', Helvetica, serif;
    transition: background-color 100ms linear 50ms, color 100ms linear 50ms;
    height: 90vh;
    background-color: var(--white)
}

.active {
    background-color: var(--navy);
}

#h-btn {
    color: var(--black);
    text-align: center;
    font-size: 3rem;
    min-width: 30%;
    border: 1px solid var(--black);
    padding: 10px;
    transition: border 100ms linear 50ms, background-color 200ms linear, color 200ms linear, min-width 200ms linear, border-radius 200ms linear;
    cursor: pointer;
}

#h-btn:hover {
    min-width: 50%;
    background-color: var(--navy);
    color: var(--vintage);
    border-Color: var(--vintage);
    border-radius: 1rem;
}

.active #h-btn {
    color: var(--vintage);
    border-color: var(--vintage);
}

.active #h-btn:hover {
    background-color: var(--white);
    color: var(--black);
    border-color: var(--black);
}

a {
    font-size: .8rem;
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
    transition: color 200ms ease-out;
}

a:hover {
    text-decoration: underline;
}

.active a {
    color: var(--beige);
}